/* --------------SERVICIOS---------------------- */

.hero-servicios {
    min-width: 90vw;

}

.hero-servicios img {
    width: 90%;
}

.servicios-1 {
    display: flex;
    padding: 20px;
    flex-direction: row;
}

.arreglos-florales {
    padding: 20px;
    text-align: center;
}

.servicios-h2 {
    text-align: center;
}

.promos-tittle {
    background-color: whitesmoke;
    padding: 10px;
    margin: 10px 0;
}
